<h1>
  {{title}}
</h1>
<div class="panel panel-default">
  <div class="panel-heading">Employee Entry Form :</div>
  <div class="panel-body">
  <form #myForm="ngForm" class="form-horizontal" (submit)="addEmployee()">
  <div class="form-group">
    <label for="emp_name" class="col-sm-2 control-label">Employee's Full Name : </label>
    <div class="col-xs-3">
      <input type="text" class="form-control" [(ngModel)]="model.name" name="name" >
    </div>
  </div>
  <div class="form-group">
    <label for="position" class="col-sm-2 control-label">Job Position : </label>
    <div class="col-xs-3">
      <input type="text" class="form-control" [(ngModel)]="model.position" name="position">
    </div>
  </div>
  <div class="form-group">
    <label for="department" class="col-sm-2 control-label">Department Name : </label>
    <div class="col-xs-3">
      <input type="text" class="form-control" [(ngModel)]="model.department" name="department">
    </div>
  </div>
  <div class="form-group">
    <label for="salary" class="col-sm-2 control-label">Employee's Salary : </label>
    <div class="col-xs-3">
      <input type="text" class="form-control" [(ngModel)]="model.salary" name="salary">
    </div>
  </div>
  

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <button type="submit" class="btn btn-success">Save</button>
       <button type="reset"  class="btn btn-info">Cancel</button>
    </div>
   
  </div>
</form>

  </div>
</div>
<div class="container">
<table class="table table-bordered">
		  <thead>
			<tr>
			  <td>Id</td>
        <td>Name</td>
			  <td>Position</td>
			  <td>Department</td>
        <td>Salary</td>
			  <td width="200" align="center">Action</td>
			</tr>
		  </thead>
		  <tbody>
			 <tr  *ngFor="let employee of employees">
        <td>{{employee.id}}</td> 
				<td>{{employee.name}}</td>
				<td>{{employee.position}}</td>
				<td>{{employee.department}}</td>
        <td>{{employee.salary}}</td>
				<td width="275"> 
					<a class="btn btn-success" (click)="editEmployee(employee.id)">Edit</a>
					<a class="btn btn-danger" (click)="deleteEmployee(employee.id)">Delete</a>
				</td>
			 </tr>
		  </tbody>
		</table>
</div>